<app-go-back></app-go-back>

<ul *ngIf="movie$ | async as movie" class="movie">
  <li class="grid grid-bleed col-grid direction-row">
    <div class="image col-3">
      <app-poster [imgSrc]="movie.Poster"></app-poster>
    </div>
    <div class="content col-9 col-grid">
      <app-title [title]="movie.Title" [year]="movie.Year"></app-title>
      <app-meta-data
        [rated]="movie.Rated"
        [runtime]="movie.Runtime"
        [released]="movie.Released"
        [genre]="movie.Genre"
      ></app-meta-data>
      <app-details [director]="movie.Director" [writer]="movie.Writer" [actors]="movie.Actors"></app-details>
      <app-plot [plot]="movie.Plot"></app-plot>
      <div class="nav flex-footer">
        <app-go-imdb [imdbId]="movie.imdbID"></app-go-imdb>
      </div>
    </div>
  </li>
</ul>
