<ng-container *ngIf="data$ | async as data">
  <app-decades
    *ngIf="data.decades?.length"
    [decades]="data.decades"
    [currDecade]="data.currDecade"
    (updateDecade)="displayMovies($event)"
  ></app-decades>
</ng-container>

<ng-container *ngIf="filteredMovies$ | async as filteredMovies">
  <ul class="movies" *ngIf="filteredMovies.length">
    <li *ngFor="let movie of filteredMovies" class="grid grid-bleed col-grid direction-row">
      <div class="image col-3">
        <app-poster [imgSrc]="movie.Poster"></app-poster>
      </div>
      <div class="content col-9 col-grid">
        <app-title [title]="movie.Title"></app-title>
        <app-meta-data [rated]="movie.Rated" [runtime]="movie.Runtime" [released]="movie.Released"></app-meta-data>
        <app-plot [plot]="movie.Plot"></app-plot>
        <div class="nav flex-footer">
          <app-go-details [imdbId]="movie.imdbID"></app-go-details>
        </div>
      </div>
    </li>
  </ul>
</ng-container>
